@model TaskPro.Data.Entidades.Proyecto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ModalLayout.cshtml";
}


<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@if (TempData["AlertMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Éxito!',
                text: '@TempData["AlertMessage"]',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

@if (TempData["ErrorMessage"] != null)
{
    <script>
        $(function () {
            Swal.fire({
                title: '¡Error!',
                text: '@TempData["ErrorMessage"]',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

<h4>Proyecto</h4>
<hr />
<dl class="row ">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nombre)
    </dt>
    <dd class="col-sm-10">
        <strong>@Html.DisplayFor(model => model.Nombre)</strong>
    </dd>
    <dt class="col-sm-2">
        Creado Por : 
    </dt>
    <dd class="col-sm-10">
        <strong>@Html.DisplayFor(model => model.Usuario!.NombreCompleto)</strong>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Inicio)
    </dt>
    <dd class="col-sm-10">
        <strong>@Model.Inicio.ToString("dd/MM/yyyy")</strong>
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Final)
    </dt>
    <dd class="col-sm-10">
        <strong>@Model.Final.ToString("dd/MM/yyyy")</strong>
    </dd>   
</dl>
<hr />
   

<p>
    <a onclick="showInPopup('@Url.Action("AddTarea", "Proyectos", new { id = Model.Id })', '')"
       class="btn btn-sm bg-black text-white mt-2"><i class="oi oi-plus"></i> Nueva Tarea </a>
</p>

<div class="col-md-12">
    <div class="card">
        <div class="card-header text-center">
            <div class="card-header text-center">
                <img src="/images/logo TaskPro.png" style="width: 50px; height: auto;" />
            </div>
        </div>
        <div class="card-body ">
            <h5 class="card-title text-center">Tareas</h5>
            <table id="tarea" class="table table-hover ">
                <thead>
                    <tr class=" table-secondary">
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>                       
                        <th scope="col">Vencimiento</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Prioridad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tareas)
                    {
                        <tr class=" table-secondary">
                            <th scope="row">@item.Id</th>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            
                            <td>@item.FechaVencimiento.ToString("dd/MM/yyyy")</td>
                            @if(@item.Estado == TaskPro.Data.Enums.Estado.Completada)
                            {
                                <td class="text-success"><strong>@Html.DisplayFor(modelItem => item.Estado)</strong></td>
                            }
                            else
                            {
                                <td class="text-danger"><strong>@Html.DisplayFor(modelItem => item.Estado)</strong></td>
                            }
                            @if (@item.Prioridad == TaskPro.Data.Enums.Prioridad.Alta)
                            {
                                <td class="text-danger"><strong>@Html.DisplayFor(modelItem => item.Prioridad)</strong></td>
                            }
                            else if (@item.Prioridad == TaskPro.Data.Enums.Prioridad.Media)
                            {
                                <td class="text-warning"><strong>@Html.DisplayFor(modelItem => item.Prioridad)</strong></td>
                            }
                            else
                            {
                                <td class="text-success"><strong>@Html.DisplayFor(modelItem => item.Prioridad)</strong></td>
                            }                           
                            <td>
                                <a onclick="showInPopup('@Url.Action("EditTarea", "Proyectos", new { id = item.Id }, Context.Request.Scheme)' ,
                    '')" class="btn btn-outline-warning btn-sm"><i class="oi oi-pencil"></i> </a>                             
                                <a onclick="showInPopup('@Url.Action("DetailsTarea", "Proyectos", new { id = item.Id }, Context.Request.Scheme)' ,
                    '')" class="btn btn-outline-info btn-sm"><i class="oi oi-clipboard"></i> </a>
                                <button data-id="@item.Id" class="btn btn-outline-danger btn-sm deleteItem">
                                    <i class="oi oi-trash"></i>
                                </button>
                                <button data-id="@item.Id" class="btn btn-outline-success btn-sm completeItem">
                                    <i class="oi oi-check"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<partial name="_MostrarModal" />

@section Scripts {

    <script src="~/js/showmodal.js"></script>

    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#tarea').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"
                },
            });

            // Delegar el evento click para elementos creados dinámicamente
            $(document).on('click', '.deleteItem', function (event) {
                event.preventDefault();

                const taskId = $(this).data('id'); // Obtener el id de la tarea desde el botón

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡No podrás revertir esto!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, eliminarlo',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirigir a la acción DeleteTarea
                        window.location.href = '/Proyectos/DeleteTarea/' + taskId;
                    }
                });
            });

            // Delegar el evento click para elementos creados dinámicamente
            $(document).on('click', '.completeItem', function (event) {
                event.preventDefault();

                const completeId = $(this).data('id'); // Obtener el id de la tarea desde el botón

                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "¡Desea marcar como completada esta tarea?!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, confirmar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirigir a la acción DeleteTarea
                        window.location.href = '/Proyectos/CompletarTarea/' + completeId;
                    }
                });
            });
        });
    </script>

}
